body{
    background-color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
}
#main{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(175, 177, 179);
    padding: 10px;
}
#main input {
margin-top: 10px;

}